<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Appoint lord</title>
</head>
<body>
<ruby>Name of change planet:</ruby>
<b th:text="${updatedPlanet.name}"></b>
</br>
</br>
<ruby>Назначить повелителя по id</ruby>
<form action="#" th:action="@{/universe/planet/update/{id}(id=${updatedPlanet.id})}" th:object="${updatedPlanet}" method="post">
    <label for="name"></label>
    <input type="hidden" th:field="*{name}" id="name">
    <label for="lord"></label>
    <input type="number" th:field="*{lord}" id="lord">
    </br>
    <input type="submit" value="Save changes">
</form>
<h4> Table of lords</h4>
<table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
    </tr>
    <tr th:each="lord : ${lords}">
        <td th:text="${lord.id}"></td>
        <td th:text="${lord.name}"></td>
        <td th:text="${lord.age}"></td>
    </tr>
</table>
</body>
</html>