<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Slacker lords</title>
</head>
<body>
<h4> Table slacker lords</h4>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr th:each="lord : ${slackersLords}">
        <td th:text="${lord.id}"></td>
        <td th:text="${lord.name}"></td>
        <td th:text="${lord.age}"></td>
    </tr>
</table>
</body>
</html>